.list-inline {
	list-style: none;
	padding left: 0px;
}

.list-inline li {
	display: inline;
	padding: 13px;
	margin: auto;
	text-align: center
}

.list-inline i {
	font-size: 30px;
	color: #ACE2E1;
}

.list-inline i:hover {
	color: #008DDA;
}